<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConvertFRBtoABS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConvertFRBtoABS.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="SourceMask" serializeAs="String">
                <value>*.dbf</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>.\scan.log</value>
            </setting>
            <setting name="FileInversionMO" serializeAs="String">
                <value>.\mo.inv</value>
            </setting>
            <setting name="FileInversionOut" serializeAs="String">
                <value>.\out.inv</value>
            </setting>
            <setting name="InversionFormat" serializeAs="String">
                <value>  {0,-15} {1}</value>
            </setting>
            <setting name="REGEXP_VO" serializeAs="String">
                <value>^\{VO\d{5}(PS\d{8}/3194/0000/\d/0|)\}~требуется паспорт сделки по шаблону {VO...}</value>
            </setting>
            <setting name="REGEXP_VO_SCAN" serializeAs="String">
                <value>^[\{\[\(]V[OО0]\d{5}([PР]S\d{8}/3194/0000/\d/0|)[\}\]\)]</value>
            </setting>
            <setting name="REGEXP_LS_VO" serializeAs="String">
                <value>^(30122|30123|30230|30231|40807|40813|40814|40815|40818|40819|40820)</value>
            </setting>
            <setting name="REGEXP_INN" serializeAs="String">
                <value>^(\d{10}|\d{12}|0)$~не 10 или 12 цифр, или 0</value>
            </setting>
            <setting name="REGEXP_INN10" serializeAs="String">
                <value>^(\d{10}|0)$~не 10 цифр или 0</value>
            </setting>
            <setting name="REGEXP_INN12" serializeAs="String">
                <value>^(\d{12}|0)$~не 12 цифр или 0</value>
            </setting>
            <setting name="REGEXP_LS_INN12" serializeAs="String">
                <value>^(40802|40817)</value>
            </setting>
            <setting name="REGEXP_KPP" serializeAs="String">
                <value>^(\d{9}|0)$~не 9 цифр или 0</value>
            </setting>
            <setting name="REGEXP_BIC" serializeAs="String">
                <value>^(04|01)\d{7}$~не 9 цифр с 04 или 01 в начале</value>
            </setting>
            <setting name="REGEXP_LS" serializeAs="String">
                <value>^\d{5}(810|643)\d{12}$~не рублевый счет из 20 цифр</value>
            </setting>
            <setting name="REGEXP_SS" serializeAs="String">
                <value>^\d{2}$~не 2 цифры</value>
            </setting>
            <setting name="REGEXP_NAL1" serializeAs="String">
                <value>^\d{20}$~не 20 цифр</value>
            </setting>
            <setting name="REGEXP_NAL2" serializeAs="String">
                <value>^(\d{8}|\d{11})$~не 8 или 11 цифр</value>
            </setting>
            <setting name="REGEXP_NAL3" serializeAs="String">
                <value>^(ТП|ЗД|БФ|ТР|РС|ОТ|РТ|ВУ|ПР|АП|АР|ДЕ|ПО|КВ|КТ|ИД|ИП|ТУ|БД|ИН|КП|ДК|ПК|КК|ТК|0)$~не входит в перечень, или 0</value>
            </setting>
            <setting name="REGEXP_NAL4" serializeAs="String">
                <value>^((((Д1|Д2|Д3|МС|[0-3]\d{1})\.(0[1-9]|1[0-2]))|((КВ\.0[1-4]|ПЛ\.0[1-2]|ГД\.00)))\.201\d{1}|0)$~не входит в перечень или не дата, или 0</value>
            </setting>
            <setting name="REGEXP_NAL5" serializeAs="String">
                <value>^.{1,15}$~не от 1 до 15 знаков, или 0</value>
            </setting>
            <setting name="REGEXP_NAL6" serializeAs="String">
                <value>^([0-3]\d{1}\.(0[1-9]|1[0-2])\.201\d{1}|0)$~не дата или 0</value>
            </setting>
            <setting name="FileInversionLoc" serializeAs="String">
                <value>.\out_int.inv</value>
            </setting>
            <setting name="REGEXP_QUE" serializeAs="String">
                <value>^[1-5]$~не 1..5</value>
            </setting>
            <setting name="REGEXP_UIN" serializeAs="String">
                <value>^(\d{4}|\d{20}|\d{25}|0)$~не 4, 20 или 25 цифр, или 0</value>
            </setting>
            <setting name="REGEXP_N" serializeAs="String">
                <value>^\d{1,6}$~не число до 6 цифр</value>
            </setting>
            <setting name="REGEXP_PURPOSCODE" serializeAs="String">
                <value>^(|1|2|3)$~не число 1, 2, 3 или пусто</value>
            </setting>
        </ConvertFRBtoABS.Properties.Settings>
    </applicationSettings>
</configuration>